@page
@model TP2_Razor.Pages.Exercises.CityManager.CityDetailsModel
@{
    ViewData["Title"] = "Questão 8 - Roteamento";
}

<h2>Questão 8: Detalhes da Cidade</h2>

<p>Você está vendo detalhes de: <strong>@Model.CityName</strong></p>
